<!-- views/index.erb -->


      <h2>Recent blog posts:</h2>

      <% @posts.each do |post| %>
        <p>
        <li><a href="<%= post.url %>"><%= post.title %></a> | <%= post.post_time %></li>
        <%= post.content %>
        <br>
        <hr>
        </p>
      <% end %>
