<% @posts.each do |post| %>
	<div class="post">
		<%= post.content %>
	</div>
<% end %>

<!-- a link here to the "next page" using the number variable -->
<div class="pagination">
	<% if @posts.length % @N == 0  %>
		<a id="nextpage" href="<%= "/page/#{@number}" %>">&#8669;</a>
	<% end %>
	<% if @number > 2  %>
		<a id="prevpage" href="<%= "/page/#{@number-2}" %>">&#8668;</a>
	<% end %>
</div>
