<% @posts.each do |post| %>
	<div class="post">
		<%= post.content %>
	</div>
<% end %>

<!-- a link here to the "next page" using the number variable -->
<a href="<%= "/page/#{@number}" %>">Next 5</a>
