<head>
  <!-- <link rel = "stylesheet" href="/style.css" type=text/css /> -->
  <link href="/style.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>
<body class="home blog custom-background" >
<h1 id="site title">This is my header</h1>
<hr>
<a href="/">HOME</a> | <a href="/hello/bri">HELLO</a> | <a href="/about-me">ABOUT ME</a>

<%= yield %>

<hr>
This is my footer
</body>
