/*HTML Tags...*/
body {
  font-family: "Anton", Helvetica, Arial, sans-serif;
}

/*...HTML Tags*/

/*Layout...*/
.horizontal-list {
  border: 5px solid #af67c3;
}


.horizontal-list > li {
  display: inline-block;
  list-style: none;
}

.horizontal-list li:hover {
  background-color: #af67c3;
}


.content {
  margin-top: 200px;
}

/*...Layout*/

/*Header...*/

.container {
  width: 900px;
  margin: auto;
}

.header {
  background-color: #f6d5fe;
  border-bottom: 5px solid #703765;
  height: 135px;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand {
  background: url(/robot_logo.png) no-repeat left center;
  padding-left: 60px;
  display: inline-block;
  font-size: 45pt;
  color: #703765;
  margin-top: 50px;
}

.nav {
  display: inline-block;
  float: right;
  margin-top: 95px;
  font-family: "Special Elite";
  font-size: 15pt;
}

.nav a {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #f6d5fe;
}

.nav ul {
  list-style: none;
  background-color: #703765;
}

.dropdown {
  display: none;
  position: absolute;
}

li:hover > .dropdown {
  display: block;
  background-color: #af67c3;
  border: 2px solid #703765;
}

li:hover > .dropdown li {
  font-size: 10pt;
  font-color: #703765;
}

li:hover > .dropdown li:hover {
  background-color: #703765;
}

li:hover > .dropdown a {
  padding: 10px;
}

/*...Header*/

/*Index ...*/
.pagination a{
  font-family: "Special Elite";
  font-size: 50pt;
  text-decoration: none;
}
#next5 {
  float: right;
}

#prev5 {
  float: left;
}
/*... Index*/

/*Blog Posts...*/
.post{
  font-family: "Special Elite", Arial, sans-serif;
  color: #703765;
  width: 800px;
  margin: 40px auto;
  border: 3px solid #703765;
  background-color: #f3c7f8;
}

.post > h1{
  display: inline-block;
  background-color: #f3c7f8;
  padding: 10px;
  margin-left: -30px;
  margin-top: -30px;
  font-size: 25px;
  font-weight: bold;
  border: 5px solid #703765;
}

.post > time{
  font-family: Courier;
  color: #794575;
  display: inline-block;
  float: right;
  padding: 3px;
  font-weight: bold;
}

.post > p{
  margin: 30px 15px;
}

.post > pre{
  font-family: Courier;
  color: grey;
  margin: 20px;
  padding: 10px;
}

/*... Blog Posts*/
