/*HTML Tags...*/
body {
  margin: 0;
  font-family: "Anton", Helvetica, Arial, sans-serif;
}

/*...HTML Tags*/

/*Layout...*/
.horizontal-list {
  border: 5px solid #af67c3;
}


.horizontal-list > li {
  /*background-color: #51b7c7;*/
  padding: 20px 30px;
  font-size: 15pt;
  display: inline-block;
  list-style: none;
  height: 25px;
}

.horizontal-list li:hover {
  background-color: #af67c3;
}

/*...Layout*/

/*Header...*/
.header {
  /*border: 80px solid white;*/
  background-color: #f6d5fe;
  border-bottom: 5px solid #703765;
  height: 135px;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  width: 900px;
  margin: auto;
}

.brand {
  background: url(/robot_logo.png) no-repeat left center;
  padding-left: 60px;
  display: inline-block;
  font-size: 45pt;
  color: #703765;
  margin-top: 50px;
  /*background-color: #33d445;*/
}

.nav {
  font-family: "Special Elite";
  display: inline-block;
  /*background-color: #3179c6;*/
  float: right;
  margin-top: 95px;
  /*margin-right: 30px;*/
}

.nav a {
  text-decoration: none;
  color: #f6d5fe;
  letter-spacing: 0.0625em
}

.nav ul {
  list-style: none;
  background-color: #703765;
}

.dropdown {
  display: none;
  position: absolute;
}


li:hover > .dropdown {
  display: block;
  background-color: #703765;
  border: 5px solid #af67c3;
  padding: 10px;
  /*margin-top: 8px;*/
  /*width: 100px;*/
}

li:hover > .dropdown li {
  padding: 10px 10px;
  font-size: 12pt;
}

/*...Header*/

.content {
  /*background-color: red;*/
  margin-top: 175px;
}

.post{
  font-family: "Special Elite", Arial, sans-serif;
  color: #703765;
  border: 50px solid white;
  background-color: #f3c7f8;
  /*border-left: 90px solid white;*/
  /*border-right: 500px solid white;*/
}

.post > h1{
  display: inline-block;
  background-color: #f3c7f8;
  /*width: 30%;*/
  padding: 10px;
  margin-left: -30px;
  margin-top: -10px;
  font-size: 25px;
  border: 5px solid #703765;
}

.post > time{
  font-family: Courier;
  color: #794575;
  display: inline-block;
  float: right;
  padding: 3px;
  font-weight: bold;
}

.post > p{
  margin: 10px 15px;
}

.post > pre{
  font-family: Courier;
  color: grey;
  margin: 20px;
  padding: 10px;
}
