    @import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
    @import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

    body {
			font-family: 'Libre Baskerville', sans-serif;
			background: #ccc;
			margin: 0;
		}

		#header {
			background: #036 url(bfd.jpg);
			height: 370px;
		}

		#navigation {
			position: absolute;
			top: 370px;
			margin-top: 0.5em;
			left: 0;
			width: 254px;
		}

		#navigation ul {
			margin: 0 0 2em 0;
			padding: 0;
			list-style: none;
		}

		#navigation ul a {
			color: white;
			text-decoration: none;
			display: block;
			background: #17a;
			border-left: 5px solid #28b;
			padding: 10 0.5em;
			margin: 10px 1em 3px 1em;
		}

		#navigation a:visited {
			color: white;
		}

		#navigation a:hover {
			background: #39c;
			border-color: cyan;
		}

		#content {
			xbackground: white;
			xpadding: 1px 1em 2em 1em;
			border-left: 254px solid #069;
			background: white;
			padding: 1px 20px 1em 40px;
		}
    h1 {
      font-family: 'IM Fell English SC', serif;
      position: relative;
      left: 40px;
      top: 80px;
      font-size: 5em;
      color: #018;
    }
		h2 {
			font-size: 1.5em;
			color: #086;
		}

		h3 {
			font-size: 1.25em;
			color: #036;
		}

    h4 {
      font-family: 'IM Fell English SC', serif;
      position: relative;
      left: 10px;
      font-size: 1.25em;
      color: white;
    }

		#content img {
			width: 100px;
			height: 150px;
			padding: 1px;
			border: 1px solid #333;
			float: right;
			margin: 0 0 1em 1em;
		}

		#container {
			position: relative;
			width: 900px; /* width + border for IE 5.x */
			w\idth: 894px; /* real width */
			border: solid #036;
			border-width: 0 3px;
			margin: auto;
		}
